.cart-button {
    width: fit-content;
    border-radius: 20px;
    margin-left: auto;
    padding: 5px;
    cursor: pointer;

    &__cart-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba( 0, 0, 0, .8);
        z-index: 1;
    }
}